body{
    background: rgb(174,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(174,0,1,1) 0%, rgba(116,0,1,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(174,0,1,1) 0%,rgba(116,0,1,1) 100%);
    background: radial-gradient(ellipse at center, rgba(174,0,1,1) 0%,rgba(116,0,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae0001', endColorstr='#740001',GradientType=1 );
    color: white;
    white-space: nowrap;
    text-align: center;
}

body *{
    backface-visibility: hidden;
}

h1{
    font-size: 90px;
}

img{
    height: 450px;
}