#licey{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 10;
}
#licey img{
    height: 60px;
}
#history img{
    height: 400px;
}
#pred h1{
    font-size: 110px;
    margin-bottom: 500px;
}
#title h1{
    font-size: 180px;
}
#form img{
    height: 180px;
}
#form .second_row{
    height: 200px;
    padding-right: 20px;
    padding-left: 20px;
}
#our h1{
    padding-bottom: 400px;
}
#material img{
    height: 280px;
}
#our_adv h1{
    padding-bottom: 500px;
}
#mon h1{
    font-size: 100px;
}
#mon img{
    height: 200px;
}
#our_farm{
    display: none;
    height: 450px;
}
#grow img{
    height: 500px;
}
