body{
    background-color: #651FFF;
    color: white;
}

body *{
    backface-visibility: hidden;
    text-align: center;
    white-space: nowrap;
}

h1{
    font-size: 120px;
}

h2{
    font-size: 60px;
    padding-top: 10px;
}

img{
    height: 55vh;
}

p{
    font-size: 30px;
}
